@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light;
}

body {
    @apply bg-white text-dark;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

.btn-primary {
    @apply bg-orange-gradient text-white px-8 py-3 rounded-xl font-bold shadow-lg hover:shadow-orange-500/30 transition-all transform hover:scale-[1.02] active:scale-95;
}

.glass-card-light {
    @apply bg-white/70 backdrop-blur-md border border-gray-100 rounded-3xl shadow-xl shadow-gray-200/50;
}

.section-padding {
    @apply py-24 px-6;
}
